/* header {
    height: 60vh;
} */

/* ---------------------- FONTS --------------------- */
body {
    color: rgb(109, 109, 109);
    font-size: medium;
}

h1, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-inter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.lineSpacing {
    line-height: 3vh;
}

/* ----------------------NAVIGATION BAR--------------------- */

.nav-link {
    color: rgb(255, 255, 255) !important;
    text-decoration: solid;
    transition: transform .3s;
}

.nav-link:hover {
    transform: scale(1.1);
}

nav {
    background-image: url(../images/blueVector2.png);
}

.navbar-nav {
    margin-right: auto !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* ---------------------- IMAGES --------------------- */


.bg-img {

    background-image: url("../images/blueVector1.png");
}

.imgBorder {
    border-radius: 15px;
    box-shadow: 1px 1px 5px;
}

.attractCard {
    padding: 25px 30px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 6px #e5e5e5;
    margin-bottom: 5%;
}

.imgCard {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 6px #e5e5e5;
    margin: auto;
    width: auto;
    overflow: hidden;
}


.imgCard img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.imgCard:hover img {
    transform: scale(1.1);
}

.imgCard p {
    padding: 25px 30px;
}

.carouselText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    transition-delay: 5ms;
}

.carouselAttract {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    background-color: black;
    opacity: .8;
    padding: 1%;
}

/* ---------------------- FAB TEXT --------------------- */

.fab {
    color: white;
}

.fab:hover {
    color: skyblue;
}

/* ---------------------- FOOTER --------------------- */
footer {
    background-image: url(../images/footer-DARK.jpg);
    color: white;
    background-size: cover;
    box-shadow: 0px -1px 6px rgb(0, 0, 0);
}




.aboutFooter {
    color: white !important;
    transition: transform .5s;
}

.aboutFooter:hover {
    transform: scale(1.2);
}

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

@media only screen and (min-width: 1000px) {
    .carouselText h1
    { 
        font-size: 70px;
    }

    .carouselText h6
    { 
        font-size: 50px;
    }

    .carouselText a
    { 
        font-size: 30px;
    }
  }